.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.vid-container {
  width: 100%;
  height: 100vh;
}


video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.video-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


/*
.body-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 81px;
    align-items: center;
    justify-content: space-between;
}
*/

.divone {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 25px 100px 0px 0px;
}


.connectwallet {
  font-size: 22px;
  color: #FFF;
  line-height: 16px;
  cursor: pointer;
  z-index: 9999999999999999;
}



.red {
  color: red;
  font-size: 32px;
  padding-left: 45px;
}



.divtwo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  color: #FFF;
  font-size: 28px;
}



.mintbutton {
  color: #FFF;
  font-size: 28px;
  font-weight: 400;
  line-height: 18px;
  border: 1px solid green;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}




.redtwo {
  color: red;
  font-size: 18px;
  font-weight: 300;
  font-weight: 600;
}




.minterinfo {
  color: #FFFFFF;
  width: 34%;
}


/*
.containaddress {
  display: flex;
  gap: 10px;
}
*/

.containaddress {
  display: flex;
  justify-content: center;
  margin-top: 19px;
  align-items: center;
  gap: 22px;
}


address {
  font-weight: 800;
  font-size: 16px;
  font-style: normal;
}



.notifycontain {
  top: 0;
}



.icon {
  width: 83px;
  /* height: 50px; */
  display: flex;
  justify-content: center;
}


.imgmember {
  width: 60%;
  height: auto;
}


.body-container {
    background-color: #000;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 9000;
    display: flex;
    flex-direction: column;
    gap: 81px;
    align-items: center;
    justify-content: space-between;
}

.img-centered {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -99999;
    opacity: 130px;
    opacity: 0.5;
}

@media screen and (max-width: 490px) { 
.img-centered img {
  width: 100%;
  height: 100%;
}


.divone {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 25px 0px 0px 0px;
}

.minterinfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


}



@media screen and (max-width: 550px) {




  .vid-container {
    width: 100%;
    height: 100vh;
  }



  .divtwo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    color: #FFF;
    font-size: 28px;
  }
  



}